.navbar {
  margin-bottom:0;
  border:none;
  border-radius: 3px;
  background: #333333;
}
.bookshelf {
  position:relative;
  top:0px;
  left:0px;
  padding-top:100px;
}
.empty_shelf {
  position:relative;
  top:0px;
  left:0px;
  width: 1100px;
  height: auto;
}

.book_spine1{
  width: 60px;
  height: auto;
  position: absolute;
  left:160px;
  bottom:99px;
}

.book_spine2{
  width: 60px;
  height: auto;
  position: absolute;
  left:195px;
  bottom:102px;;
}

.book_spine3{
  width: 60px;
  height: auto;
  position: absolute;
  left:230px;
  bottom:98px;;
}

.book_spine4{
  width: 60px;
  height: auto;
  position: absolute;
  left:265px;
  bottom:100px;;
}

.book_spine5{
  width: 60px;
  height: auto;
  position: absolute;
  left:300px;
  bottom:101px;;
}

.book-details-img {
  width:250px;
  height: auto;
}

.navbar-default .navbar-brand {
  color:#9b9b9b;
}

.navbar-default .navbar-nav>li>a {
    color: #9b9b9b!important;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #5e5e5e!important;
}


.navbar-brand .glyphicon {
  margin-right:6px;
}


div.iphone-mockup {
  position:relative;
  max-width:250px;
  margin:20px;
  display:inline-block;
}

.iphone-mockup img.device {
  width:100%;
  height:auto;
}

.iphone-mockup .screen {
  position:absolute;
  width:88%;
  height:77%;
  top:12%;
  border-radius:2px;
  left:6%;
  border:1px solid #444;
  background-color:#aaa;
  overflow:hidden;
  background:url(screen-content-iphone-6.jpg);
  background-size:cover;
  background-position:center;
}

.iphone-mockup .screen:before {
  content:'';
  background-color:#fff;
  position:absolute;
  width:70%;
  height:140%;
  top:-12%;
  right:-60%;
  transform:rotate(-19deg);
  opacity:0.2;
}

.icon-feature {
  text-align:center;
  padding-left:15px;
}

.icon-feature .glyphicon {
  font-size:60px;
}

section.features {
  background-color:#a4655c;
  padding:40px 0;
  color:#fff;
}

.features h2 {
  color:#fff;
}

.features .icon-features {
  margin-top:15px;
}

.testimonials blockquote {
  text-align:center;
}

section.testimonials {
  margin:50px 0;
}

.site-footer {
  padding:20px 0;
  text-align:center;
}

@media (min-width:768px) {
  .site-footer h5 {
    text-align:left;
  }
}

.site-footer h5 {
  color:inherit;
  font-size:20px;
}

.site-footer .social-icons a:hover {
  opacity:1;
}

.site-footer .social-icons a {
  display:inline-block;
  width:32px;
  border:none;
  font-size:20px;
  border-radius:50%;
  margin:4px;
  color:#fff;
  text-align:center;
  background-color:#798FA5;
  height:32px;
  opacity:0.8;
  line-height:32px;
}

@media (min-width:768px) {
  .site-footer .social-icons {
    text-align:right;
  }
}

