{% extends "layout.html" %}
{% block content %}
 
<div class="user-profile">
  <div class="page-header">
    <h2>{{ book.Book.title }}</h2>
  </div>
 
  <div class="row">
    <div class="panel panel-primary">
      <div class="panel-heading">ISBN</div>
      <div class="panel-body">{{ book.Book.isbn }}</div>
    </div>
 
    <div class="panel panel-primary">
      <div class="panel-heading">Public or Private</div>
      {% if book.Book.is_public %}
        <div class="panel-body">Public</div>
      {% else %}
        <div class="panel-body">Private</div>
      {% endif %}
    </div>
 
    <div class="panel panel-primary">
      <div class="panel-heading">User</div>
      <div class="panel-body">{{ book.User.email }}</div>
    </div>

    {% if book.Book.image_url %}
	<img src="{{ book.Book.image_url }}" alt="{{ book.Book.image_filename }}">
    {% endif %}
  
  </div>
</div>`
 
{% endblock %}
