<h2>Hey there! </h2>
<h3>Your friend {{ requesting_user_email }} on exploreyourshelf.com  wants to add </h3>
 <h3>   your book <i>{{ book }}</i> to their shelf! </h3>
 

<p>Click a link to let them know whether you can send it or not!</p>
<a href="{{ confirm_url }}">Yup, I'll Send it ASAP!</a>
<br>
<br>
<a href=" {{ deny_url }}">Sorry, I Can't Send It Right Now</a>
 
 <br>
 <br>
<img src="http://img.valiet.org/2015/07/02/library-book-shelf-clip-art-l-e0c76289f160a1ec.png" width="200px" height="auto" class="add-book-img" alt="">


<p>
---<br>
Questions? Comments? Email us at exploreyourshelf@gmail.com.
</p>


